<div [formGroup]="form" class="form-group">
    <label for="{{ property.displayName }}">{{ property.displayName }}</label>
    <input
        [formControlName]="name"
        type="text"
        class="form-control"
        id="{{ property.displayName }}"
        [value]="value"
    >
    <div *ngIf="form.get(name).touched && form.get(name).invalid" class="class alert alert-danger">
      {{ property.displayName }} is required
    </div>
    <small class="form-text text-muted">
        {{ property.description }}
    </small>
</div>
