<div *ngIf="itmobject?.methods" class="basic-container">
  <span *ngFor="let method of itmobject.methods">
    <!-- Handle branch node buttons here -->
    <span *ngIf="method.methods && method.methods?.length > 0">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu">
        {{method.name}} <i *ngIf="method.methods"  class="material-icons"> arrow_right </i>
        
      </button>
      <app-itmobject-method #menu [method]="method" [itmobject]="itmobject"></app-itmobject-method>
    </span>
    <!-- Leaf node buttons here -->
    <span *ngIf="method">
      <span *ngIf="(!method?.methods || method?.methods.length === 0)">
        <button mat-button color="primary" [disabled]="busy" (click)="doMethod( itmobject, method )" >
          {{method.name}}
          
          <!-- Properties Icon  -->
          <i *ngIf="method.properties" class="material-icons"> list </i>
        </button>
      </span>
    </span>
  </span>
</div>
