<!-- nested menu items 
https://stackblitz.com/edit/dynamic-nested-menus
-->
<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
    <span *ngFor="let amethod of method.methods">
      <!-- Handle sub methods -->
      <span *ngIf="amethod.methods && amethod.methods.length > 0">
        <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
          <span>{{amethod.name}}</span>
        </button>
        <app-itmobject-method #menu [method]="amethod" [itmobject]="itmobject"></app-itmobject-method>
      </span>
      <!-- Handle single method -->
      <span *ngIf="!amethod.methods || amethod.methods.length === 0">
        <button mat-menu-item (click)="doNethod(amethod.name, itmobject)">
          <!-- Method -->
          <span>{{amethod.name}}</span>

          <!-- Properties Icon  -->
          <i *ngIf="amethod.properties" class="material-icons"> list </i>

        </button>
      </span>
    </span>
  </mat-menu>
