<div class="card">
  
  <div class="card-header">
    <app-itmobject-image [instance]="instance" width="64px" height="64px"></app-itmobject-image>
    
    {{ itmobject.name }}, 
    {{ itmobject.shortDescription }}, 
    ( {{ itmobject.className }})
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ itmobject.description }}</p>

    <app-itmobject-methods [instance]="instance"></app-itmobject-methods>
    <app-itmobject-instances [instance]="instance"></app-itmobject-instances>

  </div>
</div>
