<div class="btn-group">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="dropdown">
    {{ method.name }}
    <i *ngIf="method.methods" class="fas fa-caret-right"></i>
  
    <app-itmobject-methods [instance]="instance" [method]="methodName"></app-itmobject-methods>  
  </button>
</div>

<!-- drop down info here
https://ng-bootstrap.github.io/#/components/dropdown/examples

<div class="btn-group">
  <button type="button" class="btn btn-primary">Apple</button>
  <button type="button" class="btn btn-primary">Samsung</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       Sony
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Tablet</a>
      <a class="dropdown-item" href="#">Smartphone</a>
    </div>
  </div>
</div>
-->
