<div class="btn-group">
  <div *ngIf="method.methods">
  
      <div class="btn-group">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
        {{ methodName }}
        </button>
      
        <div class="dropdown-menu">
            <app-itmobject-methods [instance]="instance" [methodName]="methodName"></app-itmobject-methods>  
          </div>
      </div>
  </div>

  <div *ngIf="!method.methods">
      <button type="button" class="btn btn-primary btn-sm">
        {{ method.name }}
        <span class="icon">
          <fa name="window-maximize"></fa>
        </span>
        
      </button>
  </div>
  
</div>

<!-- drop down info here
https://ng-bootstrap.github.io/#/components/dropdown/examples

<div class="btn-group">
  <button type="button" class="btn btn-primary">Apple</button>
  <button type="button" class="btn btn-primary">Samsung</button>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
       Sony
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Tablet</a>
      <a class="dropdown-item" href="#">Smartphone</a>
    </div>
  </div>
</div>
-->
