<div class="card">
  
  <div class="card-header">
    <app-itmobject-image [itmobject]="itmobject" width="64px" height="64px"></app-itmobject-image>
    
    {{ itmobject?.name }}, 
    {{ itmobject?.displayName }}, 
    ( {{ itmobject?.className }})
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">{{ itmobject?.description }}</p>

    <app-itmobject-methods [itmobject]="itmobject"></app-itmobject-methods>
    <app-itmobject-instances [itmobject]="itmobject"></app-itmobject-instances>

  </div>
</div>
