<div [formGroup]="form" class="form-group">
    <!--- https://angular.io/api/common/NgSwitch -->
    <label for="{{ property.displayName }}">{{ property.name }}</label>
    NUMERIC
    <input
        [formControlName]="name"
        type="text"
        class="form-control"
        id="{{ property.name }}"
        [value]="property.value"
    >

    <div *ngIf="form.get(name).touched && form.get(name).invalid" class="class alert alert-danger">
        {{ property.displayName }} is required
    </div>

    <small class="form-text text-muted">
        {{ property.description }}
    </small>

</div>
